@font-face {
    font-family: "TommySans";
    src: url("./fonts/TommySans.woff") format('woff');
}
@font-face {
    font-family: "TommySans";
    src: url("./fonts/TommySansBold.woff") format('woff');
    font-weight: bold;
}

html, body {
    font-family: "TommySans";
}

@media (max-width: 701px) {
  html, body {
    font-size: 14px;
  }
}

@media (max-width: 601px) {
  html, body {
    font-size: 13px;
  }
}

@media (max-width: 551px) {
  html, body {
    font-size: 12px;
  }
}